@model WebApplication2.Models.Clients
@{
    ViewBag.Title = "RegisterClient";
}

<h2>RegisterClient</h2>

@using (Html.BeginForm("RegisterClient", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.TextBox("TextBox", "Client Name", new
           { @required = "require", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("TextBox", "Street Address", new
            { @required = "require", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("TextBox", "City", new
           { @required = "require", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("TextBox", "State", new
           { @required = "require", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("TextBox", "Zip", new
           { @required = "require", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("TextBox", "Phone Number", new
           { @required = "require", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("TextBox", "E-mail", new
           { @required = "require", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td><input type="submit" id="submitbtn2" value="Submit"</td>
        </tr>
    </table>

}

